streamlit>=1.36
pandas
numpy
plotly
SQLAlchemy
psycopg2-binary
boto3
toml
pyyaml
umap-learn==0.5.6
numba==0.59.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
torchvision==0.18.1
Pillow
opencv-python-headless